body {
  	background-color: #776d8a;
}

.container {
	text-align: center; 
}

.dice {
	text-align: center;
	display: inline-block;
}

h1 {
  	font-family: 'Lobster', cursive;
  	font-size: 8rem;
  	text-shadow: 5px 0 #232931;
  	color: #f3e6e3;	
  	margin: 30px;
}

p {
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
  	color: #f3e6e3;	
}

img {
	width: 80%;
}

footer {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	color: #eee;
	margin-top: 5%;
}


@media (max-width: 992px){
	h1{
	    margin: 250px 10px 100px;
	}
	
	.dice1 {
		padding-right: 100px;
		margin-bottom: 600px;
	}
	
	p{
		font-size: 3rem;
	}
	
	footer {
		font-size: 2rem;
	}

} 

@media (min-width: 992px){
	button {
		display: none;
	}
}
