body {
  	background-color: #393E46;
}

.container {
	text-align: center; 
}

.dice {
	text-align: center;
	display: inline-block;
}

h1 {
  	font-family: 'Lobster', cursive;
  	font-size: 8rem;
  	text-shadow: 5px 0 #232931;
  	color: #4ECCA3;	
  	margin: 30px;
}

p {
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
  	color: #4ECCA3;	
}

img {
	width: 80%;
}

footer {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	color: #eee;
	margin-top: 5%;
}